<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>olivM</string>
	<key>uuid</key>
	<string>6A0FBBE0-8C33-467F-9196-8B76852758B8</string>
</dict>
</plist>
